<a href="https://colab.research.google.com/github/averyriskygamble/averyriskygamble/blob/main/Python%20Programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Hello World!")

Hello World!

In [2]:
#To print name of students who scored second lowest marks in alphabetical order
n = int(input("Enter number of students."))
l = []
for i in range(n):
    l1 = []
    l1.append(input("Enter name."))
    l1.append(float(input("Enter marks.")))
    l.append(l1)
mi = l[0][1]
i = 0
for j in range(len(l)):
    if l[j][1]<mi:
        mi = l[j][1]
while i<len(l):
    if l[i][1] == mi:
        l.remove(l[i])
        i-=1
    i += 1
mi = l[0][1]
for j in range(len(l)):
    if l[j][1]<mi:
        mi = l[j][1]
l2 = []
for j in range(len(l)):
    if l[j][1] == mi:
        l2.append(l[j][0])
l2.sort()
print("Second lowest marks:", mi)
print("Students who scored second lowest:", end = " ")
for i in l2:
    print(i, end = ", ")

Enter number of students.6
Enter name.Atlas
Enter marks.56.6
Enter name.Gabe
Enter marks.56.6
Enter name.Gryphon
Enter marks.56.6
Enter name.Nort
Enter marks.56.5
Enter name.Nox
Enter marks.56.5
Enter name.Oleander
Enter marks.57
Second lowest marks: 56.6
Students who scored second lowest: Atlas, Gabe, Gryphon,

In [ ]:
for i in range(0,6):
       print("12345")

12345
12345
12345
12345
12345
12345

In [ ]:
n = 6
for i in range(0,6):
    for j in range(n,6):
      print(j, end="")
    print()
    n=n-1

5
45
345
2345
12345

In [ ]:
#To check the number of times enetered substring occurs in entered string.
s = input("Enter a string.")
s1 = input("Enter another string.")
c = 0
for i in range(0,len(s)-len(s1)+1):
  s2 = s[i:i+len(s1)]
  if s2 == s1:
    c = c+1
print(c)

Enter a string.cause pretty isnt pretty enough
Enter another string.pretty
2